<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <a href={% url "home" %}>Home</a>
            
            {% if user.is_authenticated %}
                <span><strong>&emsp;&emsp;Hello, {{ user.username }}&emsp;&emsp;</strong></span>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Sign up</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        
        {% endblock %}
    </main>
    <footer>
        <hr>
        <p>© 2025 My Site. All rights reserved.</p>
    </footer>
    
</body>
</html>